/* ---------- RESET ---------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  padding: 2rem;
  font-size: 62.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- GENERAL -------------------- */
/* ---------- GENERAL ---------- */
/* ---------- GENERAL ---------- */
/* -------------------- GENERAL -------------------- */

header {
  background-color: #223240;
  padding: 2rem 3rem;
  justify-content: space-between;
}

.header__top {
  color: #F7FEFF;
}

.flex {
  display: flex;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

p, span, label {
  font-family: "Montserrat", sans-serif;
}



/* -------------------- MENU -------------------- */

/* ---------- MENU LEFT ---------- */

/* ------ Logo ------ */

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 4.8rem;
}

/* --------- MENU MIDDLE --------- */

.header__middle {
  width: 65vw;
}

/* ---- Menu top ---- */

.header__top {
  justify-content: space-between;
}

.social__icon, .setting__icon {
  color: #F7FEFF;
  font-size: 1.4rem;
}

.header__social_icons .social__icon:not(:last-child) {
  margin-right: .8rem;
}

input[type='text'] {
  /* appearance: none; */
  width: 25rem;
  padding-top: .3rem
}

.header__usersettings_icons .setting__icon:not(:last-child) {
  margin-right: .8rem;
}

.header__usersettings_icons a span {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  padding: .4rem;
  background-color: #F0B365;
  border-radius: 50%;
  /* transform: translateX(10px) translateY(10px); */
}

input::placeholder {
  font-size: 1rem;
}

.userprofile {
  margin-bottom: 0.4rem;
}

.userprofile__photo {
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #F7FEFF;
  margin-left: .8rem;
}

.user__nickname, .user__initiative {
  font-size: .9rem;
  margin-left: .8rem;
  justify-content: center;
}

/* --- Menu bottom -- */

nav.header__navigation {
  margin-top: 1rem;
  border-bottom: 1px solid #F0B365;
  justify-content: space-around;

}

.header__nav_item {
  text-transform: uppercase;
  font-size: .9rem;
  color: #F7FEFF;
  justify-content: space-around;
  /* margin: 1.4rem; */
}

/* .header__navigation .divider {
  width: 30rem;
  border: 4px solid #F0B365;
} */

/* ---------- MENU RIGHT ---------- */

#certif_text {
  font-size: .8rem;
  padding-bottom: 0.4rem;
}

#goaltext {
  padding-top: .6rem;
  font-size: .8rem;
}

#certif_counter {
  width: auto;
  background-color: #F7FEFF;
  padding: .4rem 1rem;
  border-radius: 6px;
}
#artwork__number {
  color: #223240;
  font-size: 1.2rem;
}

#goaltext {
  color:#F7FEFF;
}

progress {
  width: auto;
}


/* -------------------- MAIN -------------------- */

/* ---------- HERO SECTION ---------- */

section.hero {
  background-image: linear-gradient(to right bottom, rgba(255, 209, 110, 0.8), rgba(44, 134, 150, 0.7)), url(../img/brian-miller-aDSJNPZUxxc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 81vh;
}

.hero .hero__title {
  color: #F7FEFF;
  font-family: 'Montserrat';
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  padding-top: 12rem;
  margin-bottom: 2rem;
}

.hero .hero__text {
  color: #F7FEFF;
  font-family: 'Montserrat';
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

button.cta__services {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-color: #39b5cb;
  color: #F7FEFF;
  border-radius: .4rem 2rem .4rem 2rem;
  cursor: pointer;
}

/* ---------- NEW ARTISTS SECTION ---------- */

.new-artists .new-artists__title {
  font-size: 3rem;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: #112959;
}

span.new-artists__title--thin {
  font-weight: 400;
}

.new-artists .paragraph__section {
  display: flex;
  width: 40vw;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  color: #112959;
}

/* ---------- BLOGPOSTS SECTION ---------- */

.blogposts {
  margin-top: 4rem;
}

.blog-post {
  box-shadow: 0 1.4rem 8rem rgba(0,0,0, .2);
  display: flex;
  align-items: center;
  border-radius: 0 2rem 1rem 2rem;
  min-height: 24rem;
  width:20%;
  transform: translateX(8rem);
  margin-right: 10rem;
}

.blog-post__img {
  min-width: 12rem;
  max-width: 12rem;
  height: 16.5rem;
  transform: translateX(-3rem);
  transition: all .2s;
}

.blog-post__info {
    transform: translateX(-2rem);
}

.blog-post__date {
    display: block;
    color: #2c8696;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.blog-post__date--day {
    font-size: 1.8rem;
    font-weight: 600;
}

.blog-post__date--month {
  font-size: 1.4rem;
}

.blog-post__title {
  font-family: 'Average sans';
  font-size: 1.6rem;
  /* font-weight: bold; */
  line-height: 1.7rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.blog-post__text {
  font-size: 1rem;
  color: #223240;
  line-height: 1.4rem;
  margin-bottom: .5rem;
}

.blog-post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-3rem);
    background: linear-gradient(to right bottom, 
                rgba(#ffd16e, 0), 
                rgba(#2c8696, 0));
    z-index: 20;
    box-shadow: .5rem .5rem 3rem 3px rgba(0,0,0, .2);
}

.blog-post__img:hover {
    transform: translateY(-1rem) scale(1.1);
}

.btn-text {
  /* margin: 2rem 0; */
}

.blog-post__icons {
  padding: .8rem 0;
}

.blog-post__icons li{
    font-size: .8rem;
    display: inline;
    list-style: none;
    padding-right: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem .8rem .4rem .8rem;
}

/* -------------------- FOOTER -------------------- */

footer {
  background-color: #223240;
  padding: 4rem 3rem;
  margin-top: 2rem;
}

.footer__logo {
  width:150px;
  /* margin: 1rem 0; */
}

.footer__logos--security {
  width: 3rem;
  margin: 3rem 0;
  padding: 0 1rem;
}

.footer__navigation {
  padding-bottom: 2rem;
  border-bottom: 1px solid #F0B365;
}

.footer__nav_item {
  text-transform: uppercase;
  font-size: .9rem;
  color: #F7FEFF;
  padding: 0 1rem;
}