/* ---------- RESET ---------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  padding: 2rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- GENERAL -------------------- */
/* ---------- GENERAL ---------- */
/* ---------- GENERAL ---------- */
/* -------------------- GENERAL -------------------- */

header {
  background-color: #223240;
  padding: 2rem 3rem;
  justify-content: space-between;
}

.header__top {
  color: #F7FEFF;
}

.flex {
  display: flex;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

p, span, label {
  font-family: "Montserrat", sans-serif;
}

/* -------------------- MENU -------------------- */

/* ---------- MENU LEFT ---------- */

/* ------ Logo ------ */

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 4.8rem;
}

/* --------- MENU MIDDLE --------- */

.header__middle {
  width: 65vw;
}

/* ---- Menu top ---- */

.header__top {
  justify-content: space-between;
}

.social__icon, .setting__icon {
  color: #F7FEFF;
  font-size: 1.4rem;
}

.header__social_icons .social__icon:not(:last-child) {
  margin-right: .8rem;
}

input[type='text'] {
  /* appearance: none; */
  width: 25rem;
  padding-top: .3rem
}

.header__usersettings_icons .setting__icon:not(:last-child) {
  margin-right: .8rem;
}

.header__usersettings_icons a span {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  padding: .4rem;
  background-color: #F0B365;
  border-radius: 50%;
  /* transform: translateX(10px) translateY(10px); */
}

input::placeholder {
  font-size: 1rem;
}

.userprofile {
  margin-bottom: 0.4rem;
}

.userprofile__photo {
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #F7FEFF;
  margin-left: .8rem;
}

.user__nickname, .user__initiative {
  font-size: .9rem;
  margin-left: .8rem;
  justify-content: center;
}

/* --- Menu bottom -- */

nav.header__navigation {
  margin-top: 1rem;
  border-bottom: 1px solid #F0B365;
  justify-content: space-around;

}

.header__nav_item {
  text-transform: uppercase;
  font-size: .9rem;
  color: #F7FEFF;
  justify-content: space-around;
  /* margin: 1.4rem; */
}

/* .header__navigation .divider {
  width: 30rem;
  border: 4px solid #F0B365;
} */

/* ---------- MENU RIGHT ---------- */

#certif_text {
  font-size: .8rem;
  padding-bottom: 0.4rem;
}

#goaltext {
  padding-top: .6rem;
  font-size: .8rem;
}

#certif_counter {
  width: auto;
  background-color: #F7FEFF;
  padding: .4rem 1rem;
  border-radius: 6px;
}
#artwork__number {
  color: #223240;
  font-size: 1.2rem;
}

#goaltext {
  color:#F7FEFF;
}

progress {
  width: auto;
}

/* -------------------- FOOTER -------------------- */

footer {
  background-color: #223240;
  padding: 4rem 3rem;
  margin-top: 2rem;
}

.footer__logo {
  width:150px;
  /* margin: 1rem 0; */
}

.footer__logos--security {
  width: 3rem;
  margin: 3rem 0;
  padding: 0 1rem;
}

.footer__navigation {
  padding-bottom: 2rem;
  border-bottom: 1px solid #F0B365;
}

.footer__nav_item {
  text-transform: uppercase;
  font-size: .9rem;
  color: #F7FEFF;
  padding: 0 1rem;
}